$adHeight: 380px;
$activeColour: lightgreen;
$inactiveColour: red;
body {
  padding-top: 60px;
  background-color: lightgray;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.row {
  .online-ad {
    display: block;
    overflow: hidden;
    height: $adHeight;
    margin-bottom: 20px;
    background-color: white;
   .online-ad-img {
      overflow: hidden;
      height: $adHeight / 2.5;
    }
    .ad-info {
      text-align: center;
    }
    .online-ad-status {
      height: 4px;
      &.active {
        background-color: $activeColour;
        svg circle{
          fill: $activeColour;
        }
      }
      &.inactive{
        background-color: $activeColour;
        svg circle{
          fill: $inactiveColour;
        }
      }
      svg {
        position: absolute;
        left: 73%;
        top: $adHeight / 2.8;
        & path{
          stroke: white;
          stroke-width: 3px;
        }
      }
    }
  }
}
